<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.POST_PROMOTED_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE"
        tools:ignore="ForegroundServicesPolicy" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission
        android:name="android.permission.REQUEST_INSTALL_PACKAGES"
        tools:ignore="RequestInstallPackagesPolicy" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission
        android:name="android.permission.BIND_QUICK_SETTINGS_TILE"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".HyperFVMApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.HyperFVMJava"
        android:usesCleartextTraffic="true"
        tools:targetApi="upside_down_cake">
        <activity
            android:name=".Activities.DataCenter.IcuFraudActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.DataCenter.DataImage.DataImageTiramisuActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.DataCenter.DataImage.DataImageOthersActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.DataCenter.DataImage.DataImageMouseHpActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.DataCenter.DataImage.DataImageDecomposeAndGetActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.DataCenter.DataImage.DataImageWeaponAndGemActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.DataCenter.DataImage.DataImageCardActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.DataCenter.DetailCardData.AuxiliaryList.AuxiliaryList9EffectActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.DataCenter.DetailCardData.AuxiliaryList.AuxiliaryList9Activity"
            android:exported="false" />
        <activity
            android:name=".Activities.DataCenter.DetailCardData.AuxiliaryList.AuxiliaryList8EffectActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.DataCenter.DetailCardData.AuxiliaryList.AuxiliaryList8Activity"
            android:exported="false" />
        <activity
            android:name=".Activities.DataCenter.DetailCardData.AuxiliaryList.AuxiliaryList7EffectActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.DataCenter.DetailCardData.AuxiliaryList.AuxiliaryList7Activity"
            android:exported="false" />
        <activity
            android:name=".Activities.DataCenter.DetailCardData.AuxiliaryList.AuxiliaryList6EffectActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.DataCenter.DetailCardData.AuxiliaryList.AuxiliaryList6Activity"
            android:exported="false" />
        <activity
            android:name=".Activities.DataCenter.DetailCardData.AuxiliaryList.AuxiliaryList5EffectActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.DataCenter.DetailCardData.AuxiliaryList.AuxiliaryList5Activity"
            android:exported="false" />
        <activity
            android:name=".Activities.DataCenter.DetailCardData.AuxiliaryList.AuxiliaryList4EffectActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.DataCenter.DetailCardData.AuxiliaryList.AuxiliaryList4Activity"
            android:exported="false" />
        <activity
            android:name=".Activities.DataCenter.DetailCardData.AuxiliaryList.AuxiliaryList3EffectActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.DataCenter.DetailCardData.AuxiliaryList.AuxiliaryList3Activity"
            android:exported="false" />
        <activity
            android:name=".Activities.DataCenter.DetailCardData.AuxiliaryList.AuxiliaryList2EffectActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.DataCenter.DetailCardData.AuxiliaryList.AuxiliaryList2Activity"
            android:exported="false" />
        <activity
            android:name=".Activities.DataCenter.DetailCardData.AuxiliaryList.AuxiliaryList1Activity"
            android:exported="false" />
        <activity
            android:name=".Activities.DataCenter.DetailCardData.AuxiliaryList.AuxiliaryList1EffectActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ThanksList.ThanksAppActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ThanksList.ThanksGameActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.DataCenter.CardDataIndexActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.DataCenter.DataImagesIndexActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.CheckUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.CoContributorTeamActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.NecessaryThings.UsingInstructionActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.NecessaryThings.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.DataCenter.DetailCardData.CardData1Activity"
            android:exported="false" />
        <activity
            android:name=".Activities.DataCenter.DetailCardData.CardData2Activity"
            android:exported="false" />
        <activity
            android:name=".Activities.DataCenter.DetailCardData.CardData3Activity"
            android:exported="false" />
        <activity
            android:name=".Activities.DataCenter.DetailCardData.CardData4Activity"
            android:exported="false" /> <!-- fileprovider用于获取私有目录下的文件，用于查看数据图和升级App -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".Activities.PrestigeCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.MeishiWechatActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.UpdateLogHistory.UpdateLogHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.TodayLuckyActivity"
            android:exported="false" />
        <activity
            android:name=".BuildingActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".utils.ForDashboard.NotificationManager.NotificationDismissReceiver"
            android:exported="false" />
        <receiver
            android:name=".utils.ForDashboard.NotificationManager.TileTaskNotificationRefreshReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="ACTION_REFRESH_AUTO_TASK" />
            </intent-filter>
        </receiver>

        <service
            android:name=".Service.AutoTaskTileService"
            android:exported="true"
            android:icon="@drawable/app_icon_tile"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
    </application>

</manifest>